---
import {songsCollection} from "../content/collections";
import Layout from '../layouts/Layout.astro';
import {parseChords} from "../chords/chords";
import {analyzeSong} from "../chords/analysis";

const songs = songsCollection.map(song => {
   const analysis = analyzeSong(parseChords({text: song.body}));
   const bestKey = analysis.bestKey!;
   const worstKey = analysis.worstKey!


    return {
        body: song.body,
        title: song.data.title,
        slug: song.slug,
        key: song.data.key,        
        complexityScore: bestKey.score ? bestKey.score.toString().slice(0,4) : 0,
        sumScore: bestKey.sumScore,
         worstKey
        
    }});



---

<Layout title="Welcome to Astro.">
    <main>
        meow     
        <table>
            {songs.map(song => {
                return (
                        <tr>
                            <td>
                                <a href={'songs/' + song.slug}>{song.title}</a>
                            </td>
                            <td>
                                {song.complexityScore}
                            </td>
                            <td>
                                {song.key}
                            </td>
                            <td>
                                {song.sumScore}
                            </td>
                            <td>
                            {song.worstKey.sumScore}
                            </td>
                            <td>
                            {song.worstKey.score}
                            </td>
                        </tr>);
            })}
        </table>

    </main>
</Layout>

<style>

</style>
